body{
    padding-top:100px;
}

.list-group-item-title{
    font-size:24px;

}

.report-urgent p{
    color:#cc2222;
}

.report-normal{
    color:#000;
}

.detail-report-buttons{
    margin-top:100px;
}
